<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<footer class="footer-distributed">
    <div class="row">
        <div class="col-md-2">
            <div class="footer-left">
                <img src="../../assets/logo.svg" class="logo" />
            </div>
        </div>
        <div class="col-md-10">
            <div class="footer-right">
                <img src="../../assets/instagram.svg" />
                <img src="../../assets/facebook.svg" />
                <img src="../../assets/twitter.svg" />
            </div>
        </div>
    </div>
</footer>