#bimg {
    width: 100%;
    position: relative; 
    background-image:url(../assets/topbar-desktop.png);
    background-repeat: no-repeat;
}

html {
    overflow-x: hidden !important;
}
body {
    overflow-x: hidden !important;
}